@page "/fact"
@rendermode InteractiveServer

<PageTitle>Fact</PageTitle>

<h1>Choosen for you:</h1>

<div>
    <!-- Your other Blazor content here -->
    <!-- Paste the embed code here -->
    <blockquote class="twitter-tweet">
        <blockquote class="twitter-tweet" data-media-max-width="560"><p lang="en" dir="ltr">Dik-diks mark their territory with tears. (Image: Heather Paul) <a href="https://t.co/GZfmL9eC1e">pic.twitter.com/GZfmL9eC1e</a></p>&mdash; Quite Interesting <a href="https://twitter.com/qikipedia/status/1742561462605017250?ref_src=twsrc%5Etfw">January 3, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </blockquote>
    <!-- End of embedded tweet -->
    <!-- Your other Blazor content here -->
</div>
